{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    {{  block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "flavors/css/home.css" %}">
{% endblock css %}

{% block title %}
        {{  block.super }} - Home
{% endblock title %}

{% comment %}
    {# Remove the header #}
    {% block header %}
    {% endblock header %}
{% endcomment %}

{% block content %}
    <h1>Home Page!!</h1>
{% endblock content %}

{% block js %}
    <script src="{% static "flavors/js/home.js" %}"></script>
{% endblock js %}